<%- include('../partials/header') %>
<form action="/skills" method="POST" autocomplete="off">
    <input type="text" name="skill" required><br>
    Level: 
    <label class="radio-label">
        <input type="radio" name="level" value="Beginner" class="radio" required>
        Beginner
    </label>
    <label class="radio-label">
        <input type="radio" name="level" value="Intermediate" class="radio">
        Intermediate
    </label>
    <label class="radio-label">
        <input type="radio" name="level" value="Advanced" class="radio">
        Advanced
    </label>
    <br>
    <button type="submit">Save Skill</button>
</form>
<%- include('../partials/footer') %>