body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input[type=text] {
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

.level {
  
}

button {
  color: grey;
  border: 0.1vmin solid grey;
  border-radius: 2vmin;
  font-size: 2vmin;
  margin-top: 2vmin;
  padding: .75vmin;
}

button:hover {
  color: white;
  background-color: darkgrey;
  transform: scale(1.2);
  transition: transform 150ms ease-in; /* prevents button from snapping back to original size when hover moved off - nice touch */
}